<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="queueCapacity" source="app.trace-log.queue-capacity" defaultValue="10000"/>
    <springProperty scope="context" name="persistLevel" source="app.trace-log.persist-level" defaultValue="INFO"/>
    <springProperty scope="context" name="rootLevel" source="app.logging.root-level" defaultValue="INFO"/>
    <springProperty scope="context" name="consoleQueueCapacity" source="app.logging.console-queue-capacity" defaultValue="8192"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
    </appender>
    <appender name="CONSOLE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>${consoleQueueCapacity}</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>false</neverBlock>
        <maxFlushTime>5000</maxFlushTime>
        <appender-ref ref="CONSOLE"/>
    </appender>
    <appender name="TRACE_DB" class="com.baseai.platform.logging.TraceLogDbAppender">
        <capacity>${queueCapacity}</capacity>
        <persistLevel>${persistLevel}</persistLevel>
    </appender>
    <root level="${rootLevel}">
        <appender-ref ref="CONSOLE_ASYNC"/>
        <appender-ref ref="TRACE_DB"/>
    </root>
</configuration>
